/* ==========================================================================
   Volume (yasb.volume.VolumeWidget) + menu audio
   ========================================================================== */

.volume-widget .icon {
    font-size: 12px;
    color: var(--green);
}

.audio-menu {
    background-color: var(--crust);
}
